*, 
::before, 
::after {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,ol,ul,li{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none;
}
img{
  display: block;
}
font{
  size:1em;
  line-height: 1,5em;
}
section{
  padding: 120px 0;
}
:hover,
:focus{
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
  height: 3330px;
}
.container {
  max-width: 320px;
  align-items: center;
  margin: 0 auto;
  padding: 0 16px;
  
}
@media  (min-width:768px) {
  .container{
    max-width: 768px;
}  
section{
  padding: 96px 0;
}
}
@media  (min-width:1158px) {
  .container{
    max-width: 1158px;
    padding: 0 15px;
}  
}
header{
  display: flex;
  height: 56px;
  border-bottom:1px solid #e7e9fc;
  gap: 30px;
  align-items: center;
  justify-content: space-between;

}
.container-header{
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  align-items: center;
  justify-content: space-between;
  font-weight: 400px;
}

@media (min-width:768px) {
  .container-header{
    max-width: 768px;
  }  
}
@media  (min-width:1158px){
  .container-header{
    max-width: 1158px;
  }  
}

.logo { 
  color: #2e2f42;
  list-style-type: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  initial-letter: 3%;
  text-decoration: none;
  width: 115px;
  height: 24px;
  
}
.web-header{
    color: #4D5AE5;
    }
.studio-header{
  color:#2E2F42;
}
.nav{
    display:flex;
    align-items: center; 
  }


.nav-menu {
  list-style-type: none;
  display: none;
  width: 261px;
  gap: 40px;
  color: #2E2F42;

  
}

.nav-menu :hover,
.nav-menu :focus {
  color: #404bbf;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link{
  font-family:"Ralewey" sans-serif;
  text-decoration: none;
  font-weight:400px;
  font-size:16px;
  line-height: 1.3125em;
  letter-spacing:3%;
  padding: 24px 0;
  position: relative;
   display: inline-block;
   color: #2E2F42;
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  transform: scaleX(0); /* Başlangıçta çizgi görünmez */
  transform-origin: left; /* Soldan başlayarak genişler */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Animasyon süresi ve stili */
}
.active:hover::after {
  transform: scaleX(1); /* Hover sırasında çizgi görünür hale gelir */
}

.adres {
  list-style-type: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  initial-letter: 2%;
  display:none;
  gap:40px;
}
.adres :hover,
.adres :focus {
  color: #404bbf;
  transition: text-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adres a{
    text-decoration: none;
    font-style: normal;
    color:#434455;
}
.burger-button{
  padding: 0;
  border: none;
  border-color: transparent;
  background-color: transparent;
}
.burger-icon{
  display: block;
  background-color: transparent;
  fill: var(--color3, #ffffff)
}
.mobile-menu{
  position: absolute;
  top:0;
  left:0;
  display: flex;
  flex-direction: column;
  gap:40px;
  width: 320px;
  background-color: #ffffff;
  padding: 24px 24px 40px 16px;
  margin:0 auto;

}

.mobile-close{
  display: flex;
  border:none;
  background-color: transparent;
  justify-content: end;
}
.mobile-close-icon{
  display:block;
  
}
.mobile-nav-menu li a{
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  font-family: "Roboto"sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5em;
  color:#2E2F42;
  text-decoration: none;
}
.mobile-adres li a{
  display: flex;
  flex-direction: column;
  font-family: "roboto" sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  color: #434455;
  padding-top: 24px;
  text-decoration: none;
}
.mobile-nav-menu :hover,
.mobile-nav-menu :focus,
.mobile-adres :hover,
.mobile-adres :focus{
  color: #404BBF;
}
@media (min-width:768px) {
  .mobile-menu,
  .burger-icon,
  .burger-button{
    display: none;
  }
  .nav-menu
  {
    display: flex;
  }
  .adres{
    display:block;
  }
  }

  @media  (min-width:1158px){
    .header{
      height: 72px;
    }
    .container-header{
      width: 1158px;
      margin: 24px auto;
    }
    .adres{
      display: flex;
      flex-direction: row;
      
    }
  }
  
.title-htree{
  color:#2E2F42;
  font-weight: 700;
  font-size: 36 px;
  line-height: 2.5em;
  initial-letter: 2%;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  
}
.section-one{
  max-width: 320px;
  background-color: #2E2F42;
  background-image:linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office-bg-mobil.jpg);
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  text-align: center;
  margin: 0 auto;
  
}

.order-one{
  color: #FFFFFF;
  font-weight:700px;
  font-size:36px;
  line-height:2,5em;
  letter-spacing: 2%;
  padding:72px 52px;
  margin:0 auto;
  text-align: center;
}
.order-button{
  display: block;
  margin: 0 auto;
  background-color: #4D5AE5;
  color: #ffffff;
  min-width:169px ;
  height:56px ;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.order-button:hover{
  background-color:#404BBF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:focus{
  background-color:#404BBF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 767px) and (min-resolution: 192dpi){
  .section-one{
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office-bg-mobil@x2.jpg);
  }

}
@media (min-width:768px){
  .section-one{
    max-width: 768px;
    height: 436px;
    background-image:linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.png);
    }
    .order-one {
      font-size: 56px;
      height: 120px;
      padding: 0 136px;
    }
    .order-button{
      margin-top: 64px;
    }
}
@media (min-width: 768px) and (min-resolution: 192dpi){
  .section-one{
  background-image:linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office@x2.jpg);
  }
} 
@media  (min-width:1158px){
  .section-one{
    max-width: 1440px;
  }
  .order-one{
    width: 496px;
    padding:0;
  }
}

.section-two{
  width: 100%;
}
.section-two-cardset{
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }
  .section-two-svgs{
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    background-color: #F4F4FD;
    display:none;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;;
  }
  
.cardset-two-item{
  list-style-type: none;
 width: calc((100% - 32px) / 1); 
}

.section-two p{
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5em;
   initial-letter: 2%;
}
@media (min-width: 768px){
  
  .section-two-cardset{
    column-gap: 24px;
    row-gap: 72px;
    flex-direction: row;
    flex-wrap: wrap;    
  }
  .section-two-cardset h3{
    justify-content: left;
   }
  .cardset-two-item{
    width: calc((100% - 24px) / 2);
  }
  
}
@media (min-width: 1158px){
  .section-two-cardset{
    flex-wrap: nowrap;
  }
  .section-two-svgs{
    display: flex;
  }
}

.section-our-team{
  background-color: #F4F4FD;
  width: 100%;
}
.title-htwo{
  margin-bottom: 72px;
}

.our-team-cardset{
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  text-align: center;

}
.section-our-team h2{
  color: #2E2F42;
  font-weight:700px;
  font-size:36px;
  line-height:2.5em;
  letter-spacing: 2%;
  text-align: center;
}
.ourteam-item{
  max-width: 264px;
  width: calc((100% - 32px) / 1);
  list-style-type: none;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 10px #2e2f4248;
}
.ourteam-info{
text-align: center;
}
.section-our-team img{
  width:264px;
  height:260px;
}
.staff{
  width: 100%;
  padding: 32px 0;
}

.section-our-team p{
  font-weight:400;
  font-size:16px;
  line-height:1em;
  letter-spacing: 2%;
}
.social-icons-list {
  display:flex;
  justify-content: space-between;
  gap: 8px;
  padding:16px 16px 0 16px;
 
}
.social-icon{
  width: 40px;
  height: 40px;
}

.social-icon :hover,
.social-icon :focus{
  --color1:#31d0aa;
  transition: --color1 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width:768px){
  .our-team-cardset{
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
    margin: 0 auto;
  }

  .ourteam-item{
  width: calc((100% - 24px) / 2);
}
}

.our-portofilo-cardset{
  display: flex;
  flex-direction: column;
  gap: 48px;  
}
.section-four-div{
  padding: 120px 0;
}
.section-four h2{
  color: #2E2F42;
  font-weight:700px;
  font-size:36px;
  line-height:2.5em;
  letter-spacing: 2%;
  text-align: center;
}
.section-four h3{
  justify-content: flex-start;
}
.section-four img{
  width:100%;
}

.section-four p{
  font-weight:400;
  font-size:16px;
  line-height:1.5em;
  letter-spacing: 2%;
}

.our-border{
   border: 1px;
  border-color: #e7e9fc;
  border-style: solid;
  border-top: none;
  height: 120px;
  padding: 32px 16px;
  }
  .port-item:hover{
    box-shadow: 0px 1px 6px #2e2f4216;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .port-item{
    position: relative;
    overflow: hidden;
  }
  .overlay{
  display: block;
  padding: 8px;
  background-color: #3f51b5;
  color: #fff;
  font-family: sans-serif;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out; 
  padding: 40px 32px;
  
  }
  .port-item:hover .overlay{
    transform: translateY(0);
    height: 240px;
  }
  @media (min-width:768px){
    .our-portofilo-cardset{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 72px;
  }
  .port-item{
    width:calc((100% - 24px) / 2);
  }
  .port-item:hover .overlay{
    height: 297px;
  }
}
@media (min-width:1158px){
  .our-portofilo-cardset{
    row-gap: 48px;
  }
  .port-item{
    width:calc((100% - 48px) / 3);
  }
}
  .container-footer{
    display:flex;
    flex-direction: column;
  }
  
.footer {
  max-width: 320px;
  background-color: #2E2F42;
  color:#ffffff;
  padding: 96px 0;
  margin:0 auto;
}
  
.footer-logo{
  font-family:"Ralewey" sans-serif;
  text-decoration: none;
  font-weight:700px;
  font-size:18px;
  line-height:1.3125em;
  letter-spacing:3%;
  display: inline-block;
  margin-bottom: 16px;
  justify-content: center;
  
}
.web{
  color: #4D5AE5;
}
.studio{
  color:#F4F4FD;
}
.footer-text{
  font-weight:400;
  font-size:16px;
  line-height:1.5em;
  letter-spacing: 2%;
  width: 264px;
}
.logos-and-p{
  display: inline-block;
  width: 264px;
}
.logos-and-p a{
  max-width: 320px;
  display: flex;
 justify-content: center;
 margin:0 auto;
}
.social-media-footer{
  display:inline-block;
  margin:0 auto ;
  padding-top: 72px;
}
.social-media-footer h3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.social-icons-list-footer{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top:16px;
  gap:16px;
}
.subscribe-footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 72px;

}
.subscribe-footer-label{
  display:block;
  margin-bottom:16px;
  width: 264px;
}
.form-footer{
  max-width: 320px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap: 24px;
  margin:0 auto;
  
}
  #footer-email{
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  margin-top: 16px;
  }
#footer-email::placeholder{
  color: #ffffff;
}

.footer-submit{
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 16px;

}
.footer-svg{
  margin-left: 16px;
}
@media (min-width:768px){
  .footer{
    max-width: 768px;
    padding:96px 108px;
  }
  .container-footer{
    flex-direction:row;
    flex-wrap: wrap;
  }
  .social-media-footer{
    padding: 0;
  }
  .form-footer{
    max-width: 453px;
    flex-direction: row;
    align-items: end;
    justify-content:left;
    margin: 0;
   
  }
  
}
@media (min-width:1158px){
  .footer{
    max-width: 1440px;
    padding: 100px 0;
    align-items:start;
  }
  .container-footer{
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
    padding:0;    
  }
  .logos-and-p a{
    justify-content:left;
    margin-bottom: 16px;
  }
  .footer-logo{
    justify-content: left;
    
  }
  .social-media-footer{
    margin-left: 120px;
  }
  .subscribe-footer{
    margin-left: 80px;
  }
}

/* modal area */
.modal-back{
 background-color: #2e2f4240;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding-top: 80px;
}

.modal-container{
    background-color: #fcfcfc;
    width:408px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px #00000033;
    margin:0 auto;
    padding: 0 24px 24px 24px;
}
.modal-form{
    margin: 0 auto;
    width: 360px;
    align-items: center;
    justify-content: center;
}
.modal-divs{
    align-items: center;
    justify-content: center;
    
}
.modal-button-div{
    width: 408px;
    display: flex;
    justify-content: end;
}

.exit-icon{
    width: 24px;
    height: 24px;
    margin: 24px 24px 24px 336px;
    align-items: center;
    justify-content: end;
    cursor: pointer;
  
}
.exit-icon :hover{
  --color3: #404bbf;
  --color4: #fff;
}
.modal-htree{
    text-align: center;
    font-family: "Roboto" sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5em;
    color:#2E2F42;
    margin-bottom: 16px;

}

.label{
    display: block;
    padding-bottom: 10px;
    margin-bottom:8px;
    color: #8e8f99;
    font-family: "Roboto"sans-serif;
    font-weight: 400;
    font-size: 12px;
    
}
.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid #2a2f4240;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    font-size: 12px;

}
#comments{
    border: 1px solid #2a2f4240;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    padding-top: 8px;
    padding-left: 16px;
    font-size: 12px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus,
#comments:focus{
    border: 1px solid #4d5ae5; 
    outline: none;
    fill: #ffffff;
}
textarea::placeholder,
.modal-input::placeholder{
  color: #2e2f4240;
  font-family: "roboto" sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.modal-divs{
    position: relative;
}
.modal-form-icon{
   position: absolute;
   left: 16px;
   top: 50%;
   transform: translateY(-50%);
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.modal-input:focus + .modal-form-icon {
  --color5:#4d5ae5;
}
.modal-form-icon:focus{
  --color5:#4D5AE5;
}
.check-and-p{
  margin-bottom: 24px;
}
.label-checkbox {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}


.custom-checkbox {
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
width: 16px;
height: 16px;
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
border 250ms cubic-bezier(0.4, 0, 0.2, 1),
fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
cursor: pointer;
margin-right: 8px;
}


.input-checkbox:checked + .label-checkbox > .custom-checkbox {
fill: #f4f4fd;
border: none;
background-color: #404BBF;
}


.input-checkbox:focus + .label-checkbox > .custom-checkbox {
border-color: #404BBF;
}
.checkbox {
margin-bottom: 24px;
}


#submit-button{
  display: block;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto" sans-serif;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  
}
#submit-button:hover,
#submit-button:focus{
  background-color: #404BBF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
::placeholder :focus-within{
    color: #4D5AE5;
    border-color: #4D5AE5;
}
